//- template.pug

doctype html
html(lang="ru")

	include ../blocks/header
	
	body
	
		include ../blocks/mixins
	
		include ../blocks/page
	
		include ../blocks/footer
		
		include ../blocks/scripts
		
